<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="boardApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="/css/board.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script><!-- load angular -->
    <script src="javascripts/angularControllers/board.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">

	<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">{{username}}</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/todos">Todos</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
	</div>





    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Players <span class="label label-info">{{ players.length }}</span></h1>
            <h1>Clients <span class="label label-info">{{ clients.length }}</span></h1>
            <h1>Started room <span class="label label-info">{{ startedRoom }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="player-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="p in players">
                    <label>
                        {{ p.name }}
                    </label>
                </div>
                <div class="checkbox" ng-repeat="(username, rooms) in clients">
                    <label>
                        {{ username }} 
                    </label>
                		<div  ng-repeat="r in rooms">
											{{ r }} <a href="#" ng-click="startRoom(r)">Start</a>
										</div>
                </div>
								<!-- join room form --> 
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="New room" ng-model="formData.room">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createRoom()">Join</button>
                </form>

            </div>
        </div>


    </div>

		<h2> MOVED : {{moved}}</h2>

	<div ng-show="startedRoom!=null">
	<div class="container"> Table Cards:
		<table>
			<tr> 
				<td ng-repeat="c in tableCards  track by $index"><img  width="50" height="72" ng-src="/cards/{{c}}.png"></td>
			</tr>
		</table>
	<div ng-show="atu!=0">atu<img style="border: 1px solid green;" width="50" height="72" ng-src="/cards/{{atu}}.png"></div>
	</div>

	<div class="container">My Cards
		<table>
			<tr> 
				<td ng-repeat="c in myCards  track by $index"><img  width="50" height="72" ng-src="/cards/{{c}}.png" ng-click="clickMyCard($index)" ></td> 
			</tr>
		</table>
		<div>Selected<img style="border: 1px solid green; " width="50" height="72" ng-src="/cards/{{selected}}.png"></div>
    <button type="submit" class="btn btn-primary btn-lg" disabled="username!=moveUser" ng-click="sendCard()">Done</button>
	</div>

	</div>


</body>
</html>
