<html ng-app="loginApp">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script><!-- load angular -->
    <script src="javascripts/angularControllers/login.js"></script>




  </head>
  <body ng-controller="mainController" id="mainController">
    <form>
      <input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="formData.username" ng-minlength=5 ng-maxlength=30 required>
      <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password" ng-minlength=6  ng-maxlength=30>


      <br/>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Add</button>
    </form>
		<div>
			<a href="/register">register</a>
		</div>
		
  </body>
</html>
