<html ng-app="registerApp">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script><!-- load angular -->
    <script src="javascripts/angularControllers/register.js"></script>

		<script>
				function verifyResponse(response){
					console.log("JS RECAPTCHA HTML");

				 scope = angular.element("#mainController").scope();
		    // update the model with a wrap in $apply(fn) which will refresh the view for us
    			scope.$apply(function() {
        		scope.verifyResponse(response);
    			}); 


					//angular.element('#mainController').scope().verifyResponse(response);	
					//angular.element('#mainController').scope().$apply() 
				}

		</script>



  </head>
  <body ng-controller="mainController" id="mainController">
    <form>
      <input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="formData.username" ng-minlength=5 ng-maxlength=30 required>
      <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password" ng-minlength=6  ng-maxlength=30>
      <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name" ng-minlength=3 ng-maxlength=20>

			<div class="g-recaptcha" data-sitekey="6LeKQggTAAAAAJUEnnM9uVhuT_1veQD9mkH5MgkD" data-callback="verifyResponse"></div>		

      <br/>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Add</button>
    </form>
  </body>
</html>
